html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  color: #493323;
  background-color: #ECDFCC;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.hlavicka {
  background-color: #A5B68D;
}

.uvodni img {
  width: 100%;
}

.paticka {
  background-color: #A5B68D;
}

h1 {
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
}

h2,
h3 {
  font-family: "Amatic SC", sans-serif;
  color: #3F4F0B;
}

.paticka h2 {
  color: #493323;
}

.uvod {
  background-color: #FFF9F2;
}

.box,
.boxik {
  background-color: #FFF9F2;
}

.uvod p {
  font-family: "Advent Pro", sans-serif;
}