@use "colors";
@use "fonts";
@use "border";
@use "buttons";
@use "header";
@use "footer";


//ÚVODNÍ OBRÁZEK//
.intro{
    &__img{
        width: 100%;
        display: block;
    }
}

//ÚVOD//

.main-contents{
    display: grid;
    margin-bottom: 50px;
    margin-top: 50px;

    &__icon{
        display: none;
        @media screen and (min-width: 1000px){
            display: block;
            position: absolute;
        }
    }
    
    @media screen and (min-width: 1000px){
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
    position: relative;
    }

    &__icon-girl2{
        right: 5%;
        top:3%;
        width: 70px;
    }
    &__icon-cat{
        width: 100px;
    }
    &__icon-girl{
        left: 10%;
        width: 70px;
        bottom: 40%;
    }
    &__icon-boy2{
        right: 5%;
        bottom: 5%;
        width: 70px;
    }
    &__icon-cat{
        right: 10%;
        top: 45%;
        width: 80px;
    }
    &__icon-tree{
        left: 8%;
        top: 7%;
        width: 50px;
    }

    &__icon-balloon{
        left: 5%;
        bottom: 5%;
        width: 30px;
    }

    
}


.introtext{
        background-color: colors.$c-box;
        margin:auto;
        border-radius: border.$box-radius;
        border: border.$box-border;
        box-shadow: border.$box-shadow;
        width: 100%;
        display: grid;

        @media screen and (min-width: 1000px){
            grid-column: 2 / 3 ;
            grid-row: 1 / 2;
            
        }

    &__description{
        font-family: fonts.$font-main;
        padding: 0 15px 15px 15px;
        text-align: center;
        margin: 0;
        font-size: 15px;
        font-weight: 500;

        p{
            margin: 0;

        }

        @media screen and (min-width: 1000px){
            font-size: 20px;
            padding: 0 30px 20px 30px;

        }
    }
    &__title{
        text-align: center;
        padding: 15px;
        margin: 0;
        h2{
            margin: 0;
            font-size: 24px;
            font-family: fonts.$font-title;
            color: colors.$c-title;
            @media screen and (min-width: 1000px){
                font-size: 30px;
            }
        }
    }
    &__icon{
        display: none;
        @media screen and (min-width: 1000px){
            display: block;
            width: 50px;


        }
    }
    &__icon-frog{
        @media screen and (min-width: 1000px){
            float: left;
            margin-right: 10px;
        
        }
    }
    &__icon-snail{
        @media screen and (min-width: 1000px){
            float: right;
            margin-left: 10px;

        }
    }
   

}


//SLUŽBY//

.services{
    @media screen and (min-width: 1000px){

        grid-column: 2 / 3 ;
        grid-row: 2 / 3;
        margin-bottom: 50px;
        margin-top: 50px;
        

    }

    &__title{
        text-align: center;
        font-size: 35px;
        font-family: fonts.$font-title;
        color: colors.$c-title;
        margin-bottom: 30px;
        margin-top: 30px;
        @media screen and (min-width: 1000px){
            text-align: left;
            margin-top: 0;
        }
       
    }
    &__title::after{
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: colors.$c-title;
        margin: 5px auto 0 auto;
        @media screen and (min-width: 1000px){
            margin: 0;
            justify-self: start;
        }
    }
    
    &__image{
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: auto;
    
    }
    &__item-kids,
    &__item-animals{
        background-color: colors.$c-box;
        margin:auto;
        border-radius: border.$box-radius;
        border: border.$box-border;
        width: 100%;
        box-shadow: border.$box-shadow;
    }
   
    &__name{
        font-family: fonts.$font-title;
        color: colors.$c-title;
        margin: 0;
        text-align: center;
        padding: 6px;
        font-size: 28px;
        @media screen and (min-width: 1000px){
            padding: 10px 0 10px 0;
        }
    }
    &__button-kids,
    &__button-animals{
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
    &__list{
        @media screen and (min-width: 1000px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 5rem;
            row-gap: 2rem;
            width: 55vw;
            margin: 0 auto;
        
        
        }
    }
    &__item-animals{
        @media screen and (min-width: 1000px){
            grid-column: 2;
            grid-row: 1;
            
        }
    }
    &__button-kids{
        @media screen and (min-width: 1000px){
            grid-column: 1;
            grid-row: 2;
            margin-top: 0;
        }
    }
    &__button-animals{
        @media screen and (min-width: 1000px){
            margin-top: 0;
        }
    }
    &__button-kids{
        margin-bottom: 20px;
    }

}



//REFERENCE

.home-references{

    @media screen and (min-width: 1000px){
        grid-column: 2 / 3 ;
        grid-row: 3 / 3;
    }

    &__title{
        font-family: fonts.$font-title;
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
        color: colors.$c-title;
        @media screen and (min-width: 1000px){
            margin-top: 0;
            text-align: left;
            margin-top: 0;
            
        }
    
    }
    &__title::after{
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: colors.$c-title;
        margin: 5px auto 0 auto;
        @media screen and (min-width: 1000px){
            margin: 0;
            justify-self: start;
        }
        
    
    }
    &__item{
        background-color: colors.$c-box;
        border-radius: border.$ref-radius;
        width: 100%;
        margin: 20px auto;
        border: border.$box-border;
        box-shadow: border.$box-shadow;
        @media screen and (min-width: 1200px){
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            
        }
       
    }
    &__text{
        font-size: 13px;
        text-align: left;
        padding: 20px;
        margin: 0;
        line-height: 1.4;
        font-style: italic;
        @media screen and (min-width: 1200px){
            font-size: 17px;
        }

    }

    &__name{
        font-size: 11px;
        text-align: right;
        padding: 5px 15px 15px 0;
        margin: 0;
        @media screen and (min-width: 1200px){
            font-size: 15px;
        }

    }

    &__button{
        margin: auto;
        text-align: center;
        margin-top: 20px;
        @media screen and (min-width: 1000px){
            grid-column: 3;
            grid-row: 2;
            margin-top: 0;  
            justify-self: end;
            margin: 0;
  
        }
    }
    &__list{
       
        @media screen and (min-width: 1200px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 2rem;

            

        }
    }
    
    
    
}