@use "colors";
@use "fonts";
@use "border";
@use "buttons";
@use "header";
@use "footer";
@use "kontakt";
@use "reference";
@use "uvod";
@use "omne";
@use "deti";
@use "zvire";



html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

//HLAVNÍ//

body{
    color: colors.$c-text;
    background-color: colors.$c-body;
    margin: 0;
    font-family: fonts.$font-text;
    line-height: 1.3;
}








    





