<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetička Anička</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

<!--Hlavička-->

<header class="header">

    <a class="header__title" href="/">Tetička Anička</a>
 

    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler"><img class="svg" src="/images/svg/menu.svg" alt="menu"></label>

        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="/">Domů</a></li>
            <li class="menu__item"><a class="menu__link" href="/omne/">O mně</a></li>
            <li class="menu__item"><a class="menu__link" href="/deti/">Hlídání dětí</a></li>
            <li class="menu__item"><a class="menu__link" href="/mazlicci/">Péče o zvířata</a></li>
            <li class="menu__item"><a class="menu__link" href="/reference/">Reference</a></li>
            <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
        </ul>
    </nav>
</header>

<main class="main">

{{ content | safe }}

</main>



<!--Patička-->

<footer class="footer">

    <div class="footer__main">

            <h2 class="footer__title">Kontakt</h2>

            <p class="footer__contact">
                Anna Nejedlá
            </p>
            <p class="footer__contact">
                <span class="footer__contact-icone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                +420 603 524 824
            </p>
            <p class="footer__contact">
                <span class="footer__icone"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <a class="footer__link" href="mailto:hlidani.tetickaanicka@gmail.com">hlidani.tetickaanicka@gmail.com</a>
            </p>
            <p class="footer__contact">
                <span class="footer__icone"><i class="fa fa-instagram"></i></span>
                <a class="footer__link" href="https://www.instagram.com/chuva_z_benesova?igsh=ZDRqdXBxb2YzeXlj">chuva_z_benesova</a>
            </p>

            <img class="footer__icon footer__icon-tree" src="/images/svg/listnaty strom.svg" alt="Listnatý strom">
            <img class="footer__icon footer__icon-bike" src="/images/svg/kluk na kole.svg" alt="Kluk na kole">
            <img class="footer__icon footer__icon-flower" src="/images/svg/kytka 2.svg" alt="Kytička">
            <img class="footer__icon footer__icon-butterfly" src="/images/svg/motyl.svg" alt="Motýl">
            <img class="footer__icon footer__icon-dragon" src="/images/svg/drak.svg" alt="Drak">

    </div>

</footer>

</body>
</html>